.navbar {
  position: sticky;
  top: 0;
  background-color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1250px;
}

.logo img {
  width: 180px;
  cursor: pointer;
}

.menu_icon {
  display: none;
}

.nav_elements ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 2rem;
}

.nav_elements ul a {
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
}

.login {
  background-color: #484df5;
  padding: 10px 30px;
  border-radius: 10px;
}

@media (max-width: 760px) {
  .menu_icon {
    display: block;
    cursor: pointer;
  }

  .nav_elements {
    position: absolute;
    right: 0;
    top: 70px;
    width: 0px;
    transition: all 0.2s ease-in;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: white;
  }

  .nav_elements.active {
    width: 100%;
  }

  .nav_elements ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
  }

  .nav_elements ul a {
    font-size: 1.5rem;
  }
}
