.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  height: 400px;
  margin: auto;
  color: white;
}

.quantum {
  background-image: url('/quantum.jpeg');
  background-size: cover;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.symptoms {
  background-image: url('/symptoms.webp');
  background-size: cover;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.treatments {
  background-image: url('/treatments.jpeg');
  background-size: cover;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.symptomsAndTreatments {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}
