.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
  font-family: Inter;
}

.container h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
  color: #333;
}

.container h3 {
  font-size: 2em;
  margin-bottom: 0.5em;
  color: #333;
}

.container p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1em;
  color: #333;
}

.container ul {
  font-size: 1em;
  line-height: 1.5em;
  color: #333;
}

.date {
  font-size: 0.9em;
  margin-bottom: 1em;
  color: #999;
}
