.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: auto;
}

.gridContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gridItem {
  flex: 0 0 50%;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
}

.gridItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 700px) {
  .gridItem {
    flex: 0 0 100%;
  }
}
