.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.2rem;
  font-weight: 600;
}

.content {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  max-width: 900px;
}

.content img {
  max-height: 300px;
}

.content ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.purple {
  color: #c32d67;
}

@media (max-width: 760px) {
  .content {
    flex-direction: column;
  }

  .content ul {
    gap: 1rem;
    margin: 0;
    padding: 1rem;
  }
}
