.container {
  max-width: 1000px;
  margin: auto;
}

.container h3 {
  background-color: a;
  border: 5px solid #c32d67;
  border-radius: 20px;
  padding: 15px;
  margin-top: 2rem;
}

@media (max-width: 760px) {
  .container {
    padding: 10px;
    text-align: center;
  }
}