.background {
  background: linear-gradient(
    270deg,
    #6a3892 0%,
    #df5050 73.96%,
    #c02d68 100%
  );
}

.container {
  max-width: 1000px;
  margin: auto;
  color: white;
  padding: 4rem;
}

.inputSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputFields {
  flex: 0 0 50%;
  display: flex;
  gap: 20px;
  height: 40px;
}

.inputFields input {
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
}

.inputFields button {
  border-radius: 5px;
  border: 3px solid #fff;
  background: rgba(255, 255, 255, 0);
  color: white;
  width: 100px;
}

@media (max-width: 760px) {
  .container {
    text-align: center;
  }

  .inputSection {
    flex-direction: column;
    padding: 10px;
  }
}
