.container {
  display: flex;
  background: rgba(237, 152, 93, 0.1);
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.container ul {
  color: #c32d67;
}

.container img {
  max-width: 250px;
}

.container span {
  color: gray;
}

@media (max-width: 760px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
  }
}
